#main
{
    margin-left: 5%;
    margin-right: 5%;
}

#username
{
    margin: 2px;
    width: 28em;
}

#email
{
    margin: 2px;
    width: 28em;
}

#post_response
{
    margin: 2px;
    width: 5em;
}

.notes
{
    font-size: 12px;
}
.Response
{
    margin: 10px;
}

.responseContent
{
    margin: 10px;
    width: 600px;
    word-wrap: break-word;
}

.textarea
{
    vertical-align: top;
}

.imagearea
{
    background-color: #FCFCFC;
}

.comment
{
    margin: 12px;
    padding: 6px;
    margin-right: 6px;
    background-color: #FCFCFC;
}

.comment_author
{
    color: #8F8F8F;
    font-size: 12px;
    font-style: italic;
}

.comment_date
{
    color: #8F8F8F;
    font-size: 12px;
    font-style: italic;
}

.comment_footer
{
    text-align: right;
}

.commentPostField
{
    text-align: right;
}