#main_index
{
    text-align: center;
}

#index_title
{
    background-color: #FCFCFC;
    color: #ECECEC;
    padding: 10px;
    font-size: 28px;
    text-align: center;
}

body
{
    background-color: #ECECEC;
}

#title
{
    background-color: #1F1F1F;
    color: #ECECEC;
    padding: 10px;
    font-size: 18px;
}

#RevisionLog
{
    text-align: center;
}

#RevisionTable
{
    margin-left: auto;
    margin-right: auto;
}

#RevisionTable td
{
    text-align: left;
    background-color: whitesmoke;
}

