/* 
    Document   : simpleBBS
    Created on : 2013/07/31, 15:24:17
    Author     : nagayama
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#main
{
    margin-left: 5%;
    margin-right: 5%;
}

#post_name
{
    margin: 2px;
    width: 32em;
}

#post_email
{
    margin: 2px;
    width: 32em;
}

#post_content
{
    width: 32em;
}

#submit_post
{
    
}

.notes
{
    font-size: 12px;
}

.post_content
{
    margin: 10px;
    width: 50em;
    word-wrap: break-word;
}
.post_head
{
    font-weight: bold;
}

